<div class="widget-box">
	<div class="widget-header widget-header-flat widget-header-small">
		<h5><i class="icon-signal"></i> Estudios/Proyectos Realizados </h5>

		<div class="widget-toolbar no-border">
			<button class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown">
				Esta semana
				<i class="icon-angle-down icon-on-right"></i>
			</button>

			<ul class="dropdown-menu dropdown-info pull-right dropdown-caret">
				<li class="active">
					<a href="#">Esta semana</a>
				</li>

				<li>
					<a href="#">Semana pasada</a>
				</li>

				<li>
					<a href="#">Este mes</a>
				</li>

				<li>
					<a href="#">Mes pasado</a>
				</li>
			</ul>
		</div>
	</div>

	<div class="widget-body">
		<div class="widget-main">
			<div id="piechart-placeholder"></div>
			<div class="clearfix">

			</div>
		</div><!--/widget-main-->
	</div><!--/widget-body-->
</div><!--/widget-box-->