<html>
<head>
	<title>Invitación</title>
</head>
<body>
    <p>Saludos estimado {{nombre}} <a href='{{ url('fos_user_registration_register') }}'>Haz clic aquí para registrarte</a> con el codigo de invitación: <b> {{code}} </b></p>
	

</body>
</html>